* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .col-1 {
    background: #f2e9e1;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 3;
    min-height: 60vh;
    background: #faf4ed;
  }
 
  header {
    background: #faf4ed;
    display: flex;
    justify-content: flex-end;
    height: 20vh;
  }

  footer {
    background: #faf4ed;
    display: flex;
    flex-direction: column-reverse;
    height: 20vh;
    align-items: center;
  }

  header, footer, article, nav {
    padding: 1em;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
  }


  a.navitem {
    display: flex;
    padding: 15px;
    text-decoration: none;
  }

  a, li, p {
    color: #797593;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
  }

  li a:hover {
    color: #cecacd;
    text-decoration: none;
  }

  li a:visited {
    color: #907aa9;
    text-decoration: none;
  }


  .title{
    color: #797593;
    font-family: 'Fira Sans', sans-serif;
  }

  .content {
    color: #575279;
    font-family: 'Source Serif Pro', serif;
  }

  .content_note {
    color: #575279;
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    padding: 5px;
  }

  .button1 {
    background-color:#f2e9e1;
    color: #d7827e;
    border: none;
  }

  .button2 {
    background-color:#faf4ed;
    font-size: 32px;
    color: #d7827e;
    border: none;
    padding:5px;
  }

  .button3 {
    background-color:#faf4ed;
    font-size: 18px;
    color: #d7827e;
    border: none;
    margin-left: 10px;
  }

  .note_text {
    font-size: 26px;
    color: #d7827e;
    padding: 5px
  }

  .navbar_ver {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  textarea {
    background-color: #f2e9e1;
    width: 640px;
    height: 450px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    border: none;
    resize: none;
  }

  .note_area {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article div {
    display: flex;
    justify-content: space-evenly;
  }

  .align_top {
    align-self: flex-start;
  }

  .align_bottom {
    align-self: flex-end;
  }


  @media only screen and (max-width: 680px) {
    body {
      flex-direction: column;
    }
    .note_area {
      flex-direction: column;
    }

    .col-1 {
      background: #f2e9e1;
      display: flex;
      flex-direction: row;
      flex: 1;
    }
    .navbar_ver {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    textarea {
      background-color: #f2e9e1;
      width: 75%;
      height: 400px;
      margin-left: 10%;
      margin-right: 10%;
      box-sizing: border-box;
      border: none;
      resize: none;
    }

  }


